<div class="container" id="mainBody">
  <form [formGroup]="cardForm" (ngSubmit)="onSubmit()">
    <app-input label="Ad Soyad" [control]="cardForm.get('name')"></app-input>
    <app-input
      label="Kart Numarası"
      [control]="cardForm.get('cardNumber')"
    ></app-input>

    <div class="columns">
      <div class="column">
        <app-input
          label="Son Kullanma Tarihi"
          [control]="cardForm.get('expiration')"
        ></app-input>
      </div>
      <div class="column">
        <app-input
          label="Güvenlik Kodu"
          [control]="cardForm.get('securityCode')"
        ></app-input>
      </div>
    </div>

    <div class="buttons" id="buttonGroup">
      <button class="button is-warning" (click)="resetForm()" type="submit">
        Temizle
      </button>
      <button class="button is-link" [disabled]="cardForm.invalid" type="submit">
        Kaydet
      </button>
    </div>
  </form>


</div>
<div class="container">
  <app-card-view></app-card-view>
</div>





